@use "assets/scss/global/index.scss" as g;

.container-add-task {
  padding: 1.5rem 5rem 1rem 5rem;
  .wrapper-top {
    padding-bottom: 0.4rem;
    .field-add {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      gap: 0.5rem;
      padding: 0.7rem 3rem 0.3rem 0rem;
      .label-field {
        font-weight: bold;
        color: g.$field_gray;
      }
      .input {
        padding: 0.4rem;
      }
      .select {
        width: 100%;
      }
    }
  }
  .wrapper-bottom {
    display: flex;
    gap: 0.5rem;
    .label-field {
      font-weight: bold;
      color: g.$field_gray;
    }
  }
}
