@use "assets/scss/global/index" as g;

.ant-modal-header {
  background-color: g.$green_light;
  .ant-modal-title {
    color: g.$gray_green;
    font-weight: bold;
    font-size: 18px;
  }
}

.ant-modal-body {
  padding: 0px;
}

.ant-modal-close-x {
  color: g.$gray_green;
}
.container-task {
  display: flex;
  height: 80vh;
  .wrapper-left {
    width: 60%;
    height: 100%;
    padding: 1%;
    overflow-y: auto;
    padding: 20px;
    .title {
      font-weight: bold;
      font-size: 17px;
      margin-bottom: 5vh;
      height: 20%;
    }
    .detail {
      margin-bottom: 2vh;
      height: 50%;
      .wrapper-field {
        display: flex;
        width: 100%;
        .field-detail {
          font-weight: bold;
          color: g.$field_gray;
        }
      }
      .field-task-parent {
        color: g.$green_black;
        font-weight: 500;
      }
      .field-task-parent:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .description {
      height: 30%;
      .subtask-content {
        margin-top: 2vh;
        display: flex;
        justify-content: space-between;
        .content {
          font-weight: 600;
          color: g.$field_gray;
        }
      }
    }
  }
  .wrapper-right {
    width: 40%;
    // height: 100%;
    // height: 100rem;
    background-color: g.$gray;
    padding: 2rem 1rem;
    overflow: auto;
    .wrapper-update {
      margin-bottom: 4vh;
      .divider {
        color: #707373;
      }
      //   border-bottom: 1px solid g.$grayest;
      .content-account {
        display: flex;
        justify-content: start;
        .img-profile {
          width: 30px;
          height: 30px;
          border-radius: 50px;
          object-fit: cover;
          margin-right: 10px;
        }
        .name-profile {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .content-update {
        margin-top: 1rem;
        li:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }
  }
}
