@use "assets/scss/global/index" as g;

.wrapper-action-post {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  gap: 10px;
  .select {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .search {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .add-contact {
    border-radius: 10px;
    padding: 1.2rem;
  }
}

.container-post {
  min-height: 70vh;
  margin-top: 2rem;
  .table-post {
    width: 90vw !important;
    height: 100%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px 4px rgba(69, 163, 147, 0.2),
      4px 6px 10px 4px rgba(10, 10, 10, 0.19);
  }
}

.operator-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
