@use "assets/scss/global/index" as g;
.input {
  @include g.input;
}

.container-register {
  height: 100%;
  margin-top: 8vh;
  width: 60%;
  @include g.tabletM {
    margin-top: 3vh;
    width: 100%;
  }
  .text-field {
    label {
      @include g.text-field;
    }
    .ant-input {
      font-weight: 700 !important;
    }
    .ant-form-item-label {
      margin: auto;
    }
    .send-email-btn {
        height: 54.74px;
        padding-top: 1rem
    }
  }
  .wrap-action {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .link {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
