$desktopL: 1410px;
@mixin desktopL {
  @media (max-width: ($desktopL)) {
    @content;
  }
}
$tabletM: 960px;
@mixin tabletM {
  @media (max-width: ($tabletM)) {
    @content;
  }
}
@mixin tabletMin {
  @media (min-width: ($tabletM)) {
    @content;
  }
}
$tabletS: 768px;
@mixin tabletS {
  @media (max-width: ($tabletS)) {
    @content;
  }
}
$mobileLL: 600px;
@mixin mobileLL {
  @media (max-width: ($mobileLL)) {
    @content;
  }
}
$mobileML: 386px;
@mixin mobileML {
  @media (max-width: ($mobileML)) {
    @content;
  }
}
$mobileL: 425px;
@mixin mobileL {
  @media (max-width: ($mobileL)) {
    @content;
  }
}
$mobileM: 375px;
@mixin mobileM {
  @media (max-width: ($mobileM)) {
    @content;
  }
}
$mobileS: 359px;
@mixin mobileS {
  @media (max-width: ($mobileS)) {
    @content;
  }
}
