@use "./variable" as v;
@use "./mediaquery" as m;

@mixin select-item() {
  font-weight: bold;
  line-height: 1;
  display: flex;
  width: 100%;
}

@mixin input {
  border: v.$border solid v.$black;
  font-size: v.$field_size !important;
  // font-weight: 600;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

@mixin text-field {
  font-weight: 600;
  font-size: v.$field_size;
}
