//color
$cyan: #2680bd;
$blue_light: #eaf0f2;
$gray_green: rgb(237, 245, 242);
$black: rgb(90, 146, 153);
$green_black: #285158;
$green_light: #0d656d;
$gray: #e7e9e9;
$grayest: #c5cccc;
$field_gray: #707373;
$field_grayest: #585a5a;
$gray_description: #00000073;
//size
$field_size: 14px;
$border_radius: 8px;
$border: 1px;
