@use "assets/scss/global/index.scss" as g;

.container-list-member {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 60vh;
  .wrapper-list-member {
    --columns: 4;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @include g.tabletM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}

.wrapper-option-view {
  display: flex;
  justify-content: end;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
  border-radius: 10px;
  transform: translateY(-20px);
  .add-action-team {
    display: flex;
    align-items: center;
    color: g.$green_black;
    font-weight: 600;
    // padding: 0.5rem;
    line-height: 22px;
    div {
      cursor: pointer;
    }
    div:hover {
      text-decoration: underline;
    }
  }
  .add-action:hover {
    text-decoration: underline;
  }
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    color: g.$green_black;
    cursor: pointer;
    line-height: 22px;
    border-radius: 5px;
    div {
      padding: 0.5rem;
    }
    .selected {
      font-weight: 600;
      border-bottom: 3px solid rgb(196, 99, 43);
    }
  }
  .option:hover {
    background-color: g.$green_black;
    div {
      color: white;
    }
  }
  .option-select:hover {
    background-color: transparent;
    div {
      color: g.$green_black;
    }
  }
}
