@use "assets/scss/global/index" as g;

.container-contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper-contacts {
    --columns: 4;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @include g.tabletM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
