@use "assets/scss/global/index.scss" as g;

.container-by-ticket-step-one {
  padding: 2rem;

  .wrapper-list-ticket {
    margin-top: 2rem;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    .wrapper-ticket-item {
      padding: 0.8rem 0.8rem 0.8rem 1.5rem;
      background-color: rgb(243, 239, 235);
      input {
        padding-left: 6px !important;
      }
      .col-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .cost {
        font-weight: bold;
      }
    }
  }

  .detail-order {
    margin-top: 2rem;
    background-color: rgb(243, 239, 235);
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    .info-order {
      color: rgb(182, 85, 46);
      margin-left: 10px;
    }
  }
}

.container-by-ticket-step-two {
  padding: 1rem 2rem 2rem 2rem;
  .ticket-item {
    background-color: rgb(243, 239, 235);
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    padding: 1.5rem;
    .wrapper-field {
      display: flex;
      align-items: center;
      justify-content: center;
      .field-add {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        .label-field {
          font-weight: bold;
          color: g.$field_gray;
        }
        .input {
          padding: 0.4rem;
        }
        .select {
          width: 100%;
        }
      }
    }
  }
}

.container-by-ticket-step-three {
  padding: 1rem 2rem 2rem 2rem;
  .info-customer {
    background-color: rgb(243, 239, 235);
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    padding: 1.5rem;
    .wrapper-field {
      display: flex;
      align-items: center;
      justify-content: center;
      .field-add {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        gap: 0.5rem;
        padding-bottom: 0.5rem;
        .label-field {
          font-weight: bold;
          color: g.$field_gray;
        }
        .input {
          padding: 0.4rem;
        }
        .select {
          width: 100%;
        }
      }
    }
  }
}

.container-buy-ticket-success {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon-success {
    color: rgb(233, 108, 70);
    font-size: 80px;
  }
  .mess-success {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: g.$green_black;
      margin-bottom: 5px;
      // font-weight: bold;
    }
  }
}

.container-event {
  .content-post {
    background-color: white;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // padding: 1rem 1.5rem 0 1.5rem;
    border-radius: 10px;
    .post-detail {
      padding: 1rem 1.5rem;
    }
    .list-sponsor {
      padding: 3rem;
      width: 100%;
      max-height: 250px;
      display: flex;
      align-items: center;
      gap: 30px;
      overflow: auto;
      background-image: url("https://i.pinimg.com/236x/6d/ba/05/6dba0551cb7e69bc21e970b1606c46ad.jpg");
      background-repeat: repeat;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
      .logo-sponsor {
        box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
          0 3px 6px 0 rgba(10, 10, 10, 0.19);
      }
    }
  }
}
