@use "assets/scss/global/index" as g;

.container-step-one {
    width: 80vw;
    .wrapper-card {
      padding: 2rem;
      background-color: white;
    }
    .select {
      width: 100%;
    }
    .wrapper-field {
      display: flex;
      align-items: center;
      justify-content: center;
      .field-add {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        gap: 0.5rem;
        padding-bottom: 2rem;
        .label-field {
          font-weight: bold;
          color: g.$field_gray;
        }
        .input {
          padding: 0.4rem;
        }
        .select {
          width: 100%;
        }
        .description{
            height: 20vh;
        }
      }
    }
  }