.detail-profile-container {
  margin-left: 10vw;
  margin-right: 10vw;

  .detail-profile-view {
    display: flex;

    .detail-profile-common {
      img {
        height: 100%;
        width: 100%;
      }

      .ant-card {
        // align-items: center;
        text-align: center;
        // margin: 0;
        height: 100%;
        // width: 10vw;

        .ant-card-body {
          padding-left: 0;
          padding-right: 0;
          margin-top: -15%;
        }

        .ant-card-head-title {
          margin-top: 15%;
        }
      }
    }

    .detail-profile-detail {
      height: fit-content;
      margin-left: 2%;
    }
  }

  .detail-profile-action {
    display: flex;
    float: right;
    margin-bottom: 2vh;

    .detail-profile-change-pass,
    .detail-profile-edit {
      margin-left: 0.5vw;
    }
  }
}
