@use "assets/scss/global/index" as g;

.container-event {
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  .container-carousel {
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    background-image: url("https://i.pinimg.com/564x/48/e9/ee/48e9ee9fed70b2573066ad1f797b75a4.jpg");
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    border-radius: 10px;
    .wrap-carousel {
      width: 45vw;
      height: 50vh;
      padding: 2rem;
      @include g.tabletM {
        width: 100vw;
      }
      .ant-carousel {
        width: 100%;
        height: 100%;
        .slick-slider {
          width: 100%;
          height: 100%;
          div {
            width: 100%;
            height: 100%;
            .slick-list {
              width: 100%;
              height: 100%;
              .slick-track {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .wrapper-list-new-post {
    width: 100%;
    height: 100vh;
    background-color: rgb(223, 220, 208);
    padding: 1rem 1rem;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/564x/48/e9/ee/48e9ee9fed70b2573066ad1f797b75a4.jpg");
    background-repeat: repeat;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    overflow-y: auto;
  }
}

.post-over-view {
  display: flex;
  flex-direction: column;
  @include g.tabletM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .wrapper-animation-team {
    margin-bottom: 0.8rem;
    padding: 0.4rem;
    .team-item {
      background-color: g.$gray_green;
      // background-color: white;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
      .avatar-team {
        display: flex;
        align-items: center;
        align-items: center;
        img {
          box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
            0 3px 6px 0 rgba(10, 10, 10, 0.19);
        }
      }
      .info-team {
        padding: 0 1rem;
        .title {
          margin-bottom: 0.5rem;
          color: g.$field_grayest;
          font-weight: bold;
          font-size: 15px;
          cursor: pointer;
        }
        .title:hover {
          text-decoration: underline;
        }
        .description {
          color: g.$field_gray;
        }
      }
      .wrapper-action {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.wrapper-title-list-post {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid g.$green_black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    line-height: 18px;
    font-size: 20px;
    color: g.$green_black;
    font-weight: bold;
  }
}

.btn-search-homepage{
  .ant-btn-primary{
    background-color: rgb(171 134 111);
    border-color: rgb(171 134 111);
  }
}
