@use "assets/scss/global/index.scss" as g;

.container-team {
  width: 100%;
  .wrapper-post {
    // background-color: rgb(67, 68, 71);
    background-color: g.$grayest;
    padding: 2rem 5rem;
    border-radius: 10px;
  }
  .wrapper-list-member {
    background-color: g.$grayest;
    // background-color: rgb(223, 220, 208);
    padding: 3rem 2rem 3rem 2rem;
    max-height: 100vh;
    border-radius: 10px;
    overflow-y: auto;
  }
}
.add-action-team-member {
  display: flex;
  align-items: center;
  justify-content: end;
  color: g.$green_black;
  font-weight: 600;
  // padding: 0.5rem;
  line-height: 22px;
  div {
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border-radius: 6px;
    border: 1px solid g.$green_light;
  }
  div:hover {
    text-decoration: underline;
    background-color: g.$green_light;
    color: white;
  }
}
