$icon-color: green;
$icon-size: 4vw;

.active-confirm-container {
    .active-confirm-title {
        font-size: 5vh;
    }
}

.active-confirm-icon-title {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 3%;
    margin-top: 13%;
    margin-bottom: -4px;
    font-size: 18px;
}

.active-confirm-icon-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    overflow: hidden;
    margin-bottom: 6%;
}

.active-confirm-icon-wrap::before {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    left: 0;
    Content: "";
    Background-color: grey;
    height: 2px;
}

.activated-confirm-icon, .succeed-icon {
    font-size: $icon-size;

    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    font-size: 3rem;
    color: #777;
    border-radius: 50%;
    padding: 1rem;
    background: rgb(237, 245, 242);
    box-shadow: 0 0 0 0.3em rgb(237, 245, 242);
}

.activated-confirm-icon {
    color: $icon-color;
}

.active-confirm-description {
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: center;
}

.active-confirm-back-button {
    display: flex;
    justify-content: center;
}