@use "assets/scss/global/index" as g;

.wrapper-map {
  .ant-upload-picture-card-wrapper {
    width: 100%;
    height: 100%;
    .ant-upload.ant-upload-select-picture-card {
      width: 100%;
      height: 100%;
    }
  }
}
