@use "assets/scss/global/index.scss" as g;

.add-event-container {
  align-items: center;
  background-color: rgb(245, 241, 237);
  box-shadow: 4px 8px 16px 4px rgba(69, 163, 147, 0.2),
    4px 12px 20px 4px rgba(10, 10, 10, 0.19);
  padding: 1.5rem 15rem 1rem 15rem;
  overflow-y: auto;
  width: 100%;
  @include g.tabletM {
    padding: 0.5rem 1rem 1rem 1rem;
  }
  .field-add {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    padding: 0.5rem 0rem 0rem 0rem;
    @include g.tabletM {
      // align-items: center;
      // justify-content: center;
      padding: 1rem 0rem 0.3rem 0rem;
    }
    .label-field {
      font-weight: bold;
      color: g.$field_gray;
    }
    .input {
      padding: 0.5rem;
    }
    .select {
      width: 100%;
    }
    .text-field {
      width: 100%;
    }
  }
  .field-row {
    padding-right: 3rem;
  }
}

.ant-space-vertical {
  gap: 0px !important;
}
