@use "assets/scss/global/index" as g;

//custom step
.ant-steps-item-title {
  font-weight: bold;
}
.ant-steps-icon {
  font-weight: bold;
}
.ant-steps-item-title::after {
  height: 2px;
  background: g.$green_light !important;
}
.step {
  width: 80vw;
  margin-bottom: 2rem;
  background-color: rgb(231, 218, 211);
  padding: 1rem;
  border-radius: 5px;
}

.steps-action {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.steps-content {
  width: 80%;
}

.wrapper-step-three {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon-success {
    color: rgb(233, 108, 70);
    font-size: 80px;
  }
  .mess-success {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      color: g.$green_black;
      margin-bottom: 5px;
      // font-weight: bold;
    }
  }
  .btn-view-post {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    color: g.$green_black;
    font-weight: 600;
    border: 1px solid g.$green_black;
    padding: 0.8rem;
    border-radius: 10px;
    line-height: 22px;
    cursor: pointer;
  }
  .btn-view-post:hover {
    background-color: g.$green_black;
    color: white;
  }
}
