@use "assets/scss/global/index" as g;

.detail-profile-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;

  .detail-profile-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .text-field {
    label {
      @include g.text-field;
    }
    .ant-input {
      font-weight: 700 !important;
    }
    .ant-form-item-label {
      margin: auto;
    }
  }
  .wrap-action {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
