@use "assets/scss/global/index" as g;
input {
  @include g.input;
}

.container-login {
  height: 100%;
  margin-top: 8vh;
  width: 60%;
  @include g.tabletM {
    margin-top: 3vh;
    width: 100%;
  }
  .text-field {
    margin-bottom: 2rem;
    label {
      @include g.text-field;
    }
    .ant-input {
      font-weight: 600 !important;
    }
    .ant-form-item-label {
      margin: auto;
    }
  }
  .wrap-action {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .link {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}
