@use "assets/scss/global/index.scss" as g;
 .action-member:hover{
    background-color: rgb(226, 223, 223);
    cursor: pointer;
  }
.wrapper-member {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  .wrapper-animation {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
    width: 90%;
    .block-icon {
      font-size: 23px;
      color: red;
      display: none;
    }
    .member-item {
      width: 100%;
      background-color: g.$blue_light;
      padding: 0.5rem;
      border-radius: 10px;
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
    }
  }
  .wrapper-animation:hover {
    width: 100%;
    transition: width 0.5s;
    .block-icon {
      display: block;
    }
  }
}

.mess-confirn {
  padding: 3rem;
  font-size: 18px;
}
