@use "assets/scss/global/index.scss" as g;

.wrapper-post-team {
  width: 100%;
  .add-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // gap: 1rem;
    .input-post {
      border-radius: 20px;
      background-color: g.$blue_light;
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
    }
  }
  .list-post {
    width: 100%;
    .post-detail {
      background-color: g.$blue_light;
      padding: 2rem;
      margin-bottom: 2rem;
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
      border-radius: 10px;
      .ant-card-meta-description {
        color: black;
      }
      .action-cmt {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid g.$green_black;
        .label {
          color: g.$green_black;
        }
      }
    }
    .info-post {
      margin-bottom: 0.8rem;
      width: 100%;
      .time-post {
        font-size: 13px;
        color: g.$field_gray;
      }
      .username {
        font-weight: bold;
        color: g.$field_gray;
      }
    }

    .post-item {
      width: 100%;
    }
  }
}

.container-comment {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  // background-color: rgb(209, 195, 183);
  border-radius: 5px;
  padding: 1rem 2rem 2rem 2rem;
  .add-cmt {
    width: 70%;
    display: flex;
    gap: 26px;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .input-post {
      height: 37px;
      font-size: small;
      border-radius: 10px;
      background-color: g.$blue_light;
      // box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      //   0 3px 6px 0 rgba(10, 10, 10, 0.19);
    }
  }
  .wrapper-add-comment {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  .wrapper-comment {
    margin-bottom: 2rem;
    .desciption {
      padding: 0.7rem 1rem;
      background-color: g.$gray_green;
      border-radius: 10px;
    }
  }
}

.container-team-overview-header {
  background-color: white;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: 100%;
  }
}
