@use "assets/scss/global/index" as g;

.container-ticket {
  //   background-color: rgb(236, 225, 217);
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: g.$green_black;
  font-weight: bold;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
  border: 1px solid g.$green_black;
  box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
    0 3px 6px 0 rgba(10, 10, 10, 0.19);
}
