@use "assets/scss/global/index" as g;

.container-auth {
  display: flex;
  overflow: hidden;
  @include g.tabletM {
    display: block;
  }

  .wrap-carousel {
    height: 100vh;
    width: 50vw;
    @include g.tabletM {
      height: 40vh;
      width: 100vw;
    }
    .carousel {
      .carousel-item {
        height: 100vh;
        width: 50vw;
        color: #fff;
        object-fit: cover;
        text-align: center;
        background-color: #364d79;
        @include g.tabletM {
          height: 40vh;
          width: 100vw;
        }
      }
    }
  }
  .wrap-content {
    width: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 80px 60px 80px 60px;
    align-items: center;
    flex-direction: column;
    @include g.tabletM {
      display: block;
      height: 100vh;
      width: 100vw;
      text-align: center;
      padding: 16px;
    }
    .logo-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .logo-auth {
        width: 150px;
        margin-bottom: 3vh;
        cursor: pointer;
        @include g.tabletM {
          width: 120px;
        }
      }
      .logo-title {
        color: g.$green_black;
      }
    }
  }
}

.ant-carousel .slick-dots {
  ul {
    margin-bottom: 10vh !important;
  }
  li {
    margin-bottom: 2vh;
    width: 8px;
    margin-left: 3px;
    button {
      height: 8px;
      border-radius: 8px;
      @include g.tabletM {
        height: 8px;
      }
    }
    @include g.tabletM {
      width: 8px;
    }
  }
  li.slick-active {
    width: 32;
    @include g.tabletM {
      width: 8px;
    }
  }
}
