@use "assets/scss/global/index" as g;

.container-event-overview {
  .wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    .title {
      font-size: 16px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      // max-height: 60px;
    }
    .description {
      color: g.$gray_description;
    }
  }
  .wrapper-more-content {
    .content {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 0.1rem;
    }
  }
}
