.container-event-item {
  .img-event-overview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    background-color: rgb(184, 184, 184);
  }
  .ant-card-body {
    // height: 100%;
  }
}
