@use "assets/scss/global/index.scss" as g;

.event-detail-container {
  width: 80%;
  margin-bottom: 5rem;
  box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
    0 3px 6px 0 rgba(10, 10, 10, 0.19);
  border-radius: 10px;
  .wrapper-feature {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #5c6161;
    border: 1px solid g.$gray_green;
    .item-feature {
      border-left: 1px solid g.$gray_green;
      padding: 0.7rem;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      //   color: white;
    }
    .item-feature:hover {
      background-color: #286d6d;
    }
    .icon-feature {
      font-size: 25px;
      color: g.$gray_green;
    }
    // .icon-feature:hover {
    //   font-size: 27px;
    //   transition: font-size 0.25s ease-in;
    // }
  }
  .wrapper-detail {
    background-color: white;
    padding: 2rem;
    .title-event {
      font-size: 16px;
      font-weight: 600;
    }
    .description-event {
      color: g.$gray_description;
    }
    .wrapper-more-content {
      width: 100%;
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      .content {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-bottom: 1rem;
        .icon-gray {
          font-size: 20px;
        }
      }
    }
  }
}

@keyframes example {
  from {
    font-size: 25px;
  }
  to {
    font-size: 40px;
  }
}
