@use "assets/scss/global/index" as g;
.card-item {
  width: 20vw;
  max-height: 20vh;
  @include g.tabletM {
    width: 100%;
  }
  .ant-btn-default {
    span {
      color: g.$green_black;
    }
  }
}

.drawer-contact-detail {
  .wrapper-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    .avatar {
      width: 80px;
      height: 80px;
    }
  }
  .wrapper-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    .field {
      font-weight: bold;
      color: g.$field_grayest;
    }
    .infor {
      display: flex;
      justify-content: end;
      width: 100%;
    }
    .ant-divider-horizontal {
      margin: 6px 0 !important;
    }
  }
}
