@use "assets/scss/global/index" as g;

.wrapper-option-item {
  display: flex;
  justify-content: start;
  align-items: center;
  .info {
    margin-left: 10px;
  }
}

.aaaaa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
