.detail-contact-container {
    margin-left: 10vw;
    margin-right: 10vw;
    
    .detail-contact-view {
      display: flex;
    
      .detail-contact-common {
  
        img {
          height: 100%;
          width: 100%;
        }
    
        .ant-card {
          // align-items: center;
          text-align: center;
          // margin: 0;
          height: 100%;
          width: 10vw;
    
          .ant-card-body {
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    
      .detail-contact-detail {
        height: fit-content;
        margin-left: 2%;
      }
    }
    
    .detail-contact-action {
      display: flex;
      float: right;
      margin-bottom: 2vh;
    
      .detail-contact-to-webview {
        margin-left: 0.5vw;
      }
    }  
  }