@use "assets/scss/global/index" as g;

.wrapper-action-event {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  gap: 10px;
  .select {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .search {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .add-contact {
    border-radius: 10px;
    padding: 1.2rem;
  }
}
//custom-select

.container-event {
  display: flex;
  justify-content: center;
  width: 100%;
  .wrapper-event {
    --columns: 4;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @include g.tabletM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  .wrapper-post {
    --columns: 3;
    --gap: 30px;
    display: grid;
    grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
    grid-gap: var(--gap);
    @include g.tabletM {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
}
