@use "assets/scss/global/index.scss" as g;

.wrapper-add-contact {
  width: 100%;
  padding: 2rem 3rem 3rem 3rem;
  .radio-group {
    width: 100%;
    margin-bottom: 4rem;
    .radio-item {
      border: 1px solid g.$green_black;
      padding: 1rem;
      border-radius: 5px;
      font-weight: 600;
      box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
        0 3px 6px 0 rgba(10, 10, 10, 0.19);
    }
    .selected {
      background-color: g.$gray_green;
    }
  }
  .action-add {
    width: 100%;
    .wrapper-card {
      padding: 2rem;
      background-color: g.$gray_green;
      .text-field {
        width: 100%;
      }
    }
    .btn-add-contact {
      height: 40px;
    }
    .select {
      width: 100%;
    }
    .action-step-two {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .next-icon {
      color: g.$green_black;
      font-size: 16px;
      font-weight: bolder;
      border: 3px solid g.$green_black;
      padding: 0.4rem;
      border-radius: 100px;
      cursor: pointer;
    }
    .wrapper-field {
      display: flex;
      align-items: center;
      justify-content: center;
      .field-add {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        gap: 0.5rem;
        // padding: 0.7rem 3rem 0.3rem 0rem;
        padding-bottom: 2rem;
        .label-field {
          font-weight: bold;
          color: g.$field_gray;
        }
        .input {
          padding: 0.4rem;
        }
        .select {
          width: 100%;
        }
      }
    }
  }
}
