@use "assets/scss/global/index.scss" as g;
.wrapper-title-agenda {
  width: 100%;
  margin-bottom: 3rem;
  // display: flex;
  // justify-content: center;
  .title {
    border-bottom: 3px solid rgb(196, 99, 43);
    color: g.$green_black;
    font-weight: 600;
    font-size: 16px;
  }
}

.wrapper-table-agenda {
  margin-bottom: 3rem;
  box-shadow: 4px 8px 16px 4px rgba(69, 163, 147, 0.2),
    4px 12px 20px 4px rgba(10, 10, 10, 0.19);
  padding: 2rem;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
