@use "assets/scss/global/index" as g;

.container-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}
.wrapper-loading {
  position: absolute;
  z-index: 10000000;
  background-color: rgb(241, 239, 239);
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
  overflow-y: hidden;
}
.logo-loading {
  z-index: 10000000;
  width: 55px;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
}
.wrapper-load-animation {
  z-index: 10000000;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
}
.load-animation {
  z-index: 10000000;
  display: flex;
  width: 8.5em;
  height: 8.5em;
  border: 7px solid transparent;
  border-top-color: #c92fc1;
  border-bottom-color: #29a3be;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  box-shadow: 0 16px 32px 0 rgba(22, 194, 171, 0.2),
    0 12px 24px 0 rgba(23, 192, 184, 0.19);
}

// .load-animation:before {
//   content: "";
//   display: block;
//   margin: auto;
//   width: 1.75em;
//   height: 1.75em;
//   border: 6px solid g.$green_black;
//   border-radius: 50%;
//   animation: pulse 1s alternate ease-in-out infinite;
// }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.loader {
  position: absolute;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
}

.outer,
.middle,
.inner {
  border: 5px solid transparent;
  border-top-color: g.$green_black;
  border-right-color: g.$green_black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 7.5em;
  height: 7.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 6.1em;
  height: 6.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 4.8em;
  height: 4.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.balls {
  position: absolute;
  z-index: 3;
  width: 4em;
  top: 50%; /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: row nowrap;
  // align-items: center;
  justify-content: space-between;
}

.balls div {
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  background-color: #fc2f70;
}

.balls div:nth-of-type(1) {
  transform: translateX(-100%);
  animation: left-swing 0.5s ease-in alternate infinite;
}

.balls div:nth-of-type(3) {
  transform: translateX(-95%);
  animation: right-swing 0.5s ease-out alternate infinite;
}

@keyframes left-swing {
  50%,
  100% {
    transform: translateX(95%);
  }
}

@keyframes right-swing {
  50% {
    transform: translateX(-95%);
  }
  100% {
    transform: translateX(100%);
  }
}
