@use "assets/scss/global/index" as g;

.wrapper-header-feature {
  //   background-image: linear-gradient(to right, #ffff, g.$green_black, #ffff);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: g.$green_black;
  padding: 0.7rem;
  border-radius: 5px;
  margin-bottom: 1vh;
  .content {
    font-size: 16px;
    font-weight: bold;
    color: g.$gray_green;
  }
}
