@use "assets/scss/global/index" as g;
.container-add-update-ticket {
  padding: 2rem;
  .wrapper-field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .field-add {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      gap: 0.5rem;
      padding-bottom: 0.5rem;
      .label-field {
        font-weight: bold;
        color: g.$field_gray;
      }
      .input {
        padding: 0.4rem;
      }
      .select {
        width: 100%;
      }
    }
  }
}
