@use "assets/scss/global/index" as g;

.container-post-overview {
  cursor: context-menu;
  .wrapper-content {
    display: flex;
    flex-direction: column;
    .title {
      font-size: 16px;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      // max-height: 60px;
      cursor: pointer;
    }
    .title:hover {
      text-decoration: underline;
    }
    .description {
      color: g.$gray_description;
    }
  }
  .wrapper-more-content {
    .content {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}

.container-post-item {
  .img-post-overview {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    background-color: rgb(184, 184, 184);
  }
}
