@use "assets/scss/global/index" as g;

// .container-post-overview {
//     .wrapper-content {
//       display: flex;
//       flex-direction: column;
//       gap: 1rem;
//       .title {
//         font-size: 16px;
//         font-weight: 600;
//         text-overflow: ellipsis;
//         overflow: hidden;
//         // max-height: 60px;
//       }
//       .description {
//         color: g.$gray_description;
//       }
//     }
//     .wrapper-more-content {
//       .content {
//         display: flex;
//         align-items: center;
//         gap: 1rem;
//       }
//     }
//   }

//   .container-post-item {
//     .img-post-overview {
//       width: 100%;
//       max-height: 200px;
//       object-fit: cover;
//       background-color: rgb(184, 184, 184);
//     }
//   }

.container-post-carousel {
  width: 100%;
  height: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .wrapper-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    height: 50% !important;
    @include g.tabletM {
      height: 65% !important;
    }
    p {
      font-size: 19px;
    }
    .title {
      font-style: 15px !important;
      font-weight: bold;
      cursor: pointer;
    }
    .title:hover {
      text-decoration: underline;
    }
  }
}
