.edit-profile-container {
    margin-left: 10vw;
    margin-right: 10vw;
    
    .edit-profile-view {
      display: flex;
    
      .edit-profile-common {
        .ant-upload {
          height: 10vw;
          width: 10vw;
        }
      }
    
      .edit-profile-detail {
        height: fit-content;
        margin-left: 2%;
      }
    }
    
    .edit-profile-action {
      display: flex;
      float: right;
      margin-bottom: 2vh;
    
      .edit-profile-save,
      .edit-profile-cancel {
        margin-left: 0.5vw;
      }
    }  
  }