@use "assets/scss/global/index.scss" as g;

.container-list-team {
  width: 100%;
  cursor: pointer;
  .wrapper-list-team {
    background-color: g.$grayest;
    padding: 3rem 1rem 3rem 1rem;
    // max-height: 100vh;
    border-radius: 10px;

    // overflow-y: auto;
  }
}

.team-over-view {
  --columns: 2;
  --gap: 20px;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  grid-gap: var(--gap);
  @include g.tabletM {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.wrapper-more-content-team {
  padding: 1rem;
  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: g.$field_gray;
  }
}

.wrapper-animation-team {
  //   margin-bottom: 1rem;
  padding: 0.4rem;
  .team-item {
    background-color: g.$blue_light;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
    .avatar-team {
      display: flex;
      align-items: center;
      align-items: center;
      img {
        box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
          0 3px 6px 0 rgba(10, 10, 10, 0.19);
      }
    }
    .info-team {
      padding: 1rem 1rem 1rem 0;
      .title {
        margin-bottom: 0.5rem;
        color: g.$field_grayest;
        font-weight: bold;
        font-size: 15px;
      }
      .description {
        color: g.$field_gray;
      }
    }
    .wrapper-action {
      display: flex;
      flex-direction: column;
    }
  }
  .team-item:hover {
    padding-top: 0.8rem;
    transition: width 0.5s;
  }
}
