@use "assets/scss/global/index.scss" as g;
.wrapper-modal-create-update-team {
  width: 100%;
  padding: 2rem 0;
  .wrapper-field {
    display: flex;
    align-items: center;
    justify-content: center;
    .field-add {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      gap: 0.5rem;
      padding-bottom: 1rem;
      .label-field {
        font-weight: bold;
        color: g.$field_gray;
      }
      .input {
        padding: 0.4rem;
      }
      .select {
        width: 100%;
      }
      .description {
        height: 20vh;
      }
    }
  }
}
