@use "assets/scss/global/index.scss" as g;

.container-modal-add-member {
  padding: 2rem;
  .ant-radio-wrapper {
    margin-right: 64px;
  }
  .ant-table-thead .ant-table-cell {
    background-color: rgb(228, 210, 202);
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > td,
  .ant-table tfoot > tr > th,
  .ant-table tfoot > tr > td {
    padding: 7px 9px !important;
  }
  .table-row-color {
    background-color: #e9e2d7;
  }
  .radio-group {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  .wrapper-field {
    display: flex;
    align-items: center;
    justify-content: center;
    .field-add {
      width: 50% !important;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 80%;
      gap: 0.5rem;
      //   padding-bottom: 2rem;
      .label-field {
        font-weight: bold;
        color: g.$field_gray;
      }
      .input {
        padding: 0.4rem;
      }
      .select {
        width: 100%;
      }
      .description {
        height: 20vh;
      }
    }
  }
}

.table-disable {
  pointer-events: none;
}
