@use "assets/scss/global/index" as g;
.app {
  background-color: g.$gray_green;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 100%;
  min-height: 100vh;
}
.loading {
  // max-width: 100vw;
  // max-height: 100vh;
  // overflow-y: hidden;
}
body {
  padding: 0 !important;
  overflow-y: auto !important;
}
.ant-btn-primary {
  color: white;
}
.logo {
  cursor: pointer;
}

.ant-click-animating-node {
  display: none;
}

.input {
  @include g.input;
}

.input-password {
  .ant-input:placeholder-shown {
    padding-left: 0 !important;
  }
}

.label-grayest {
  font-weight: bold;
  color: g.$field_grayest;
}

.description-gray {
  color: g.$field_gray;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-search {
  width: 60%;
}

.ant-select-selection-search {
  display: flex;
  align-items: center;
}

.ant-select-selection-search-input {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ant-input:placeholder-shown {
  font-size: 14px !important;
  // font-weight: 600;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.ant-input-lg {
  font-size: g.$field_size;
}

.ant-card-bordered {
  box-shadow: 0 4px 8px 0 rgba(69, 163, 147, 0.2),
    0 6px 10px 0 rgba(10, 10, 10, 0.19);
  width: 100%;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 40px;
}

.ant-select-multiple .ant-select-selection-item {
  margin-top: 0px;
}

.input:-internal-autofill-selected {
  background-color: white !important;
}
// .ant-select-selection-overflow-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

//icon
.icon-gray {
  color: g.$field_grayest;
  font-size: 16px;
}
.icon-white {
  color: g.$field_grayest;
  font-size: 16px;
}

//date picker
.ant-picker-range {
  height: 40px !important;
  width: 100%;
}

.ant-space-vertical {
  width: 100%;
}

//link
.feild-link {
  color: g.$green_black;
}
.feild-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

//button
.btn-primary {
  font-weight: 700 !important;
  color: g.$gray_green;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-primary:hover {
  background-color: g.$gray_green;
  color: g.$green_light;
}

.btn {
  color: g.$gray_green;
  font-weight: 700 !important;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.btn-radius-small {
  border-radius: 7px;
}

.btn:hover {
  background-color: g.$gray_green;
  color: g.$green_light;
}

.btn-border-primary {
  font-weight: 700 !important;
  background-color: g.$gray_green;
  color: g.$green_light;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-border-primary:hover {
  span {
    color: g.$gray_green;
  }
}

.btn-no-backgroud {
  color: g.$green_light;
  border-color: g.$green_light;
}
.btnno-backgroud:hover {
  background-color: g.$green_light;
  color: g.$blue_light;
}

//uplaod image
.ant-upload > div > div {
  display: none;
}

.ant-upload.ant-upload-select-picture-card {
  margin: 0px;
}

//icon custom
.icon-border {
  color: g.$green_black;
  font-size: 16px;
  font-weight: bolder;
  border: 3px solid g.$green_black;
  padding: 0.4rem;
  border-radius: 100px;
  cursor: pointer;
}

.icon {
  font-size: 35px;
  color: g.$green_black;
  cursor: pointer;
}

.icon-disable {
  font-size: 35px;
  color: rgb(156, 156, 156);
  cursor: default !important;
}

.icon-table {
  font-size: 20px;
  color: g.$green_black;
  cursor: pointer;
}

//table custom
.ant-table-thead > tr > th {
  font-weight: bolder !important;
}

//modal custom
.ant-modal-mask {
  z-index: 1 !important;
}

.ant-modal-wrap {
  z-index: 100 !important;
}

.rs__today_cell > div {
  z-index: 1 !important;
}

//generate css
.text-field {
  width: 100%;
}

.wrapper-action {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4vh;
  gap: 10px;
  .select {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .search {
    width: 15vw;
    @include g.tabletM {
      width: 100%;
    }
  }
  .add-contact {
    border-radius: 10px;
    padding: 1.2rem;
  }
}

.wrapper-field-common {
  display: flex;
  align-items: center;
  justify-content: center;
  .field-add {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    //   padding-bottom: 2rem;
    .label-field {
      font-weight: bold;
      color: g.$field_gray;
    }
    .input {
      padding: 0.4rem;
    }
    .select {
      width: 100%;
    }
    .description {
      height: 20vh;
    }
  }
}

.disable {
  pointer-events: none;
}

.download {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 1rem;
}

.table-common {
  width: 90vw !important;
  height: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 4px rgba(69, 163, 147, 0.2),
    4px 6px 10px 4px rgba(10, 10, 10, 0.19);
}

.status {
  &--accept {
    padding: 0.2rem 0rem;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgb(6, 173, 34);
    color: rgb(6, 173, 34);
  }
  &--attendence {
    padding: 0.2rem 0rem;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgb(145, 97, 8);
    color: rgb(145, 97, 8);
  }
  &--absent {
    padding: 0.2rem 0rem;
    border-radius: 10px;
    border: 2px solid rgb(173, 6, 6);
    font-weight: 600;
    color: rgb(216, 10, 10);
  }
}

.label {
  &--accept {
    font-weight: 500;
    color: rgb(6, 173, 34);
  }
  &--attendence {
    font-weight: 500;
    color: rgb(145, 97, 8);
  }
  &--absent {
    font-weight: 500;
    color: rgb(216, 10, 10);
  }
}

.center-common {
  display: flex;
  align-items: center;
  justify-content: center;
}
