@use "assets/scss/global/index" as g;

//custom calender
div[data-testid="rs-wrapper"] {
  width: 100vw;
}

.tabs button.MuiTab-root {
  border-right: 2px solid rgb(196, 202, 201) !important;
}

.css-11uxfay {
  width: 100vw;
  height: 100vh;
}

.css-3f54eu .rs__cell {
  border: 1px solid rgb(228, 220, 207) !important;
  border-width: 3px;
}

.rs__outer_table {
  background-color: white;
}

.css-3f54eu {
  border: 1px solid rgb(196, 202, 201) !important;
}
.css-sp60bg {
  border: 1px solid rgb(207, 183, 170) !important;
}
.rs__cell {
  border: 1px solid rgb(196, 202, 201) !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

div[data-testid="view-navigator"] {
  color: rgb(243, 88, 5) !important;
  font-family: Arial, Helvetica, sans-serif !important;
  .MuiButton-textPrimary {
    color: rgb(243, 88, 5) !important;
    font-weight: bolder !important;
  }
}
div[data-testid="date-navigator"] {
  button {
    color: rgb(243, 88, 5) !important;
    font-weight: bolder !important;
    font-family: Arial, Helvetica, sans-serif !important;
  }
}
.MuiButtonBase-root > div > div > p {
  display: none;
}

.MuiButtonBase-root > div > div > h6 {
  padding: 3px;
  font-weight: 600;
  color: rgb(38 38 38 / 85%);
}

.rs-wrapper {
  font-family: Arial, Helvetica, sans-serif !important;
}

.rs__today_cell > div > p {
  color: rgb(243, 88, 5) !important;
}

.MuiPaper-root {
  // display: none;
}

.css-1czanl6 {
  .css-z0slbs-MuiTypography-root {
    display: none !important;
  }
}

.css-1c41lei-MuiListItem-root {
  // border: 2px solid rgb(207, 183, 170) !important;
  border: 2px solid rgb(226, 206, 195) !important;
}

// .css-llvhl4-MuiTypography-root {
//   font-family: Arial, Helvetica, sans-serif !important;
//   font-weight: bold !important;
// }

.css-zw3mfo-MuiModal-root-MuiDialog-root {
  display: none !important;
}

div[role="presentation"] {
  z-index: -100 !important;
}

div[role="dialog"] {
  div[role="presentation"] {
    z-index: 100 !important;
  }
}

.css-126xj0f {
  display: none !important;
}

.wrapper-option-view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .add-task {
    display: flex;
    align-items: center;
    color: g.$green_black;
    font-weight: 600;
    border: 1px solid g.$green_black;
    padding: 0.5rem;
    border-radius: 5px;
    line-height: 22px;
    cursor: pointer;
  }
  .add-task:hover {
    background-color: g.$green_black;
    color: white;
  }
}

.wrapper-table-task {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .table-task {
    width: 80%;
    box-shadow: 0 2px 8px 0 rgba(69, 163, 147, 0.2),
      0 3px 6px 0 rgba(10, 10, 10, 0.19);
  }
}

.search-40px {
  input {
    height: 40px;
  }
}
