@use "assets/scss/global/index" as g;

.container-default-layout {
  padding: 1rem 5rem 1.5rem 5rem;
  height: 100%;
  @include g.tabletM {
    padding: 1.5rem;
  }
  .logo {
    width: 5rem;
  }
  .wraper-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .link-active {
      border-bottom: 2px solid g.$green_light;
      font-weight: 600;
    }
  }
  .wraper-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    .wrapper-avatar{
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .name-profile{
        font-weight: 600;
        color: g.$green_black;
      }
    }
  }
  .btn {
    padding: 1.5rem 0rem 1.5rem 0rem;
    width: 8rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-login {
    background-color: g.$green_light;
    margin-right: 10px;
  }
  .btn-login:hover {
    background-color: transparent;
    color: g.$green_light;
  }
  .btn-login:focus {
    background-color: g.$green_light;
    color: g.$blue_light;
  }
  .btn-register {
    color: g.$green_light;
    border-color: g.$green_light;
  }
  .btn-register:hover {
    background-color: g.$green_light;
    color: g.$blue_light;
  }
  .wrapper-body{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
